<h5 aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= admin_root_path %>"
                                class="link-dark"><%=t('breadcrumb.dashboard_admin')%></a></li>
    <li class="breadcrumb-item"><a href="<%= admin_members_path %>"
                                class="link-dark"><%= Admin.model_name.human count: 2 %></a></li>
    <li class="breadcrumb-item active text-secondary" aria-current="page">
    <%=t('buttons.register', model: Admin.model_name.human) %></li>
  </ol>
</h5>

<% if @member.errors.any? %>
  <div class="alert alert-danger mt-5">
  <% @member.errors.each do |error| %>
      <ul>
        <li>
            <%= error.message %>
        </li>
      </ul>
  <% end %>
</div>
<% end %>

<div class="col-sm-4">
  <%= form_with scope: :member, url: admin_members_path(@member), method: :post do |f| %>
    <div class="mb-3">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
    </div>
        <div class="mb-3">
        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.submit 'Cadastrar Membro', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
