<h5 aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= admin_root_path %>"class="link-dark">
                                <%=t('headers.dashboard')%></a></li>
    <li class="breadcrumb-item"><a href="<%= admin_courses_path %>"class="link-dark">
                                <%=t('headers.course_managment')%></a></li>
    <li class="breadcrumb-item"><a href="<%= admin_course_path(@lesson.course.id) %>"class="link-dark">
                                <%=@lesson.course.name%></a></li>
    <li class="breadcrumb-item active text-secondary" aria-current="page"><%=@lesson.name %></li>
  </ol>
</h5>
<h2><%= header_title %></h2>
<%= form_with model: [:admin, :course, @lesson] do |form| %>
    <div class="mx-auto">
      <%= form.label :name%>
      <%= form.text_field :name, class: "form-control"%>
    </div>
    <div class="mx-auto">
      <%= form.label :description,class:"form-label" %>
      <%= form.text_area :description,class:"form-control", rows:"3" %>
    </div>
    <br>
    <div class="mx-auto">
      <%= form.label :video_code,class:"form-label" %>
      <%= form.number_field :video_code %>
      <span class="form-text text-white">
      Ex: vimeo.com/</span><span class="text-decoration-underline text-white">123456 </span>
    </div>
    <div><%= form.submit class:"btn btn-primary" %></div>
<% end %>