<% if @lesson.errors.any?%>
  <ul>
    <% @lesson.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>


<h2>Cadastro de Aula</h2>
<%= form_with model: [:admins,:course, @lesson] do |form| %>
   <div class="mx-auto">
      <%= form.label :name, 'Nome:'%>
      <%= form.text_field :name, class: "form-control"%>
    </div>
   <div class="mx-auto">
      <%= form.label :description, 'Descrição da Aula:',class:"form-label" %>
      <%= form.text_area :description,class:"form-control", rows:"3" %>
    </div>
    <br>
    <div class="mx-auto">
      <%= form.label :video_code, 'Código do Video:',class:"form-label" %>
      <%= form.number_field :video_code %>
      <span class="form-text text-white"> 
      Ex: vimeo.com/</span><span class="text-decoration-underline text-white">1234534 </span>
    </div>
    <%= form.hidden_field :course_id, value: params['course_id']%>
    <div><%= form.submit 'Criar Aula',class:"btn btn-primary" %></div>
<% end %>