<h5><nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="<%= admins_root_path %>"class="link-dark">Dashboard</a></li>
			<li class="breadcrumb-item"><a href="<%= admins_courses_path %>"class="link-dark">Gerenciamento de Cursos</a></li>
			<li class="breadcrumb-item active text-white" aria-current="page"><%=@course.name %></li>
		</ol>
</nav></h5>

<h2><%= @course.name %></h2>

<% if @course.lessons.empty?%>
	<h3>Nenhuma Aula Cadastrada</h3>
<% end %>

<%= link_to "Cadastrar aula", new_admins_course_lesson_path(@course),class:"btn btn-warning"  %>
<div>
	<table class="table table-bordered">
		<thead class="table-dark">
				<tr>
					<th scope="col">Título</th>
					<th scope="col">Descrição</th>
				</tr>
			</thead>
		<% @course.lessons.each do |lesson| %>
			<tbody>
				<tr class="text-white">
					<td><%= link_to lesson.name, admins_lesson_path(lesson), class:"btn btn-light"  %></td>
					<td><%= lesson.description%></td>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>


