<div class="site-section courses-entry-wrap"  data-aos="fade-up" data-aos-delay="100">
  <div class="container" >
    <div class="row">

      <div class="owl-carousel col-12 nonloop-block-14">

        <% @courses.each do |course| %>
          <div class="course bg-white h-100 align-self-stretch">
            <figure class="m-0">
              <div>
                <% if course.cover.attached? %>
                    <%= image_tag course.cover, size:'240x290' %>
                  <% else %>
                    <%= image_tag 'covers/404.jpg', size:'360x360' %> 
                <% end %>
              </div>
            </figure>
            <div class="course-inner-text py-4 px-4">
              <span class="course-price"><%= course.price %></span>
              <div class="meta"><span class="icon-clock-o"></span>
              <%= course.lessons.size + course.text_lessons.size %> Aulas </div>
              <h3><%= link_to course.name, course%></h3>
              <p><%= course.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-7 text-center">
        <button class="customPrevBtn btn btn-primary m-1">Anterior</button>
        <button class="customNextBtn btn btn-primary m-1">Próximo</button>
      </div>
    </div>
  </div>
</div>