<div class="col-12 intro-content">

  <div class="row align-items-center">
    <div class="col-lg-6 mb-4">
      <h1 data-aos="fade-up" data-aos-delay="100" > Junte-se à Milhares, Aprenda a Codar com a CodePlay. </h1>
      <p class="h2 mb-4"> Aprender de verdade é aqui! Escolhe entre vários Cursos e Assinaturas. </p>

      <p data-aos="fade-up" data-aos-delay="300">
        <%= link_to "Veja alguns cursos", courses_path, class:"btn btn-primary py-3 px-5 btn-pill" %>
      </p>
    </div>

    <!-- Formulário rápido de cadastramento -->

    <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
      <%= form_for(:user, url: registration_path(:user), :html => { class:'form-box'}) do |f| %>
        <h3 class="h3 text-black mb-4">
          <%= t('devise.registrations.new.sign_up') %>
        </h3>
        
        <div class="form-group">
          <%= f.label :email, t('user.registration.email') %>
          <br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, t('user.registration.password') %>
          
          <% if @minimum_password_length %>
            <em>(mínimo de <%= @minimum_password_length %> caracteres )</em>
          <% end %>

          <br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="form-group mb-4">
          <%= f.label :password_confirmation,  
                      t('user.registration.password_confirmation') %>
          <br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit t('buttons.sign_up'), class:'btn btn-outline-primary me-2 form-control' %>
        </div>
      <% end %>
    </div>
  </div>
</div>