
<%= form_with scope: :member, url: admins_members_path(@member), method: :post do |f| %>
  <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
  </div>
  <div>
      <%= f.label :password %>
      <%= f.text_field :password %>
  </div>
  <div>

  <%= f.submit %>
  </div>
<% end %>