<h5 aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>"
                                class="link-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="<%= subscriptions_path %>"
                                class="link-dark">Planos</a></li>
    <li class="breadcrumb-item active text-secondary" aria-current="page"><%=@subscription.name %></li>
  </ol>
</h5>


<dl>
  <h3><%= @subscription.name %></h3>

  <dt><%= Subscription.human_attribute_name(:description) %></dt>
  <dd><%= @subscription.description %></dd>

  <dt><%= Subscription.human_attribute_name(:price)%></dt>
  <dd><%= @subscription.price %></dd>
</dl>
<hr>

<h4>Cursos da assinatura</h4>
<% if @subscription.courses.any? %>
  <% @subscription.courses.each do |course| %>
    <dl>
      <dt>Curso </dt>
      <dd> <%= link_to course.name, course %></dd>

      <dt>Descrição </dt>
      <dd> <%= course.description%> </dd>
      <hr>
    </dl>
  <% end %>
  <% else %>
  <p>Nenhum curso cadastrado para este plano</p>
<% end  %>
