<%= link_to 'Voltar', subscriptions_path %>

<dl>
  <h3><%= @subscription.name %></h3>
  
  <dt><%= Subscription.human_attribute_name(:description) %></dt>
  <dd><%= @subscription.description %></dd>

  <dt><%= Subscription.human_attribute_name(:price)%></dt>
  <dd><%= @subscription.price %></dd>
</dl>
<hr>

<h4>Adicionar um curso</h4>

<%= form_with url: add_course_subscription_path do |f| %>
  <%= f.label :name, 'Nome do curso' %> <br>
  <%= f.text_field :name %> <br>
  <%= f.submit 'Adicionar curso' %> 
<% end %>
<hr>

<h4>Cursos</h4>
<% if @subscription.courses.any? %>
  <% @subscription.courses.each do |course| %>
    <dl>
      <dt>Curso </dt>
      <dd> <%= course.name  %></dd>
      
      <dt>Descrição </dt>
      <dd> <%= course.description%> </dd>
      <hr>
    </dl>
  <% end %>
  <% else %>
  <p>Nenhum curso cadastrado para este plano</p>
<% end  %>
