<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= courses_path %>">Cursos</a></li>
    <li class="breadcrumb-item"><a href="<%= courses_path(@lesson.course.id) %>"><%=@lesson.course.name%></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@lesson.name %></li>
  </ol>
</nav>

<div class="container">
	<%= vimeo_iframe(@lesson.video_code) %>
</div>
<h2 style="margin-left: 120px;">
	<%= @lesson.name %> - <%= @lesson.description %>
</h2>
