<div class="container-fluid">
  <div class="row">
    <%= render partial: 'sidebar' %>
    <% if current_user.courses.empty? %>
      Você ainda não tem cursos
    <% else %>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <p class="h5 mb-3 fw-normal text-center">Lista de Cursos</p>
        <div class="table-responsive">
          <table class="table table-bordered table-sm text-center">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Progresso</th>
              </tr>
            </thead>
            <tbody>
              <% current_user.approved_courses.each do |course| %>
                
                <% done = 1 %>
                <% progress = ((done/course.lessons.count.to_f)*100).round(1)%>
                
                <tr>
               
                  <td><%= link_to course.name, course, class: 'btn btn-light'%></td>
                  <td><%= course.description %></td>
                  <td>
                    <div class="progress-bar bg-light border border-secondary">
                      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                      role="progressbar" style="width: <%= progress %>%; height:100%;"
                      aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100"> <%= progress %>%
                      </div>
                    </div> 
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </main>
    <% end %>
  </div>
</div>
