<div class="container-fluid">
  <div class="row">
      <%= render partial: 'sidebar' %>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <h5 aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= user_profile_path %>"class="link-dark"><%=t('breadcrumb.dashboard_user')%></a></li>
            <li class="breadcrumb-item active text-secondary" aria-current="page"><%=t('breadcrumb.orders')%></li>
          </ol>
        </h5>

        <hr>
        <p class="h5 mb-3 fw-normal text-center"><%= t('label.list', model: "#{t('breadcrumb.orders')}") %></p>

        <div>
          <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col"><%= Order.human_attribute_name(:pay_type) %></th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.pay_type_obj.name %></td>
                <td><%= Order.human_attribute_name "status.#{order.status}" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </main>
  </div>
</div>
