<%= link_to 'Adicionar cartão de crédito', new_user_payment_methods_path, class: 'btn btn-primary'%>
<br>
<h4>
  <% if current_user.cards.empty?%>
    Nenhum cartão cadastrado
  <% end %>
</h4>

<% current_user.cards.each do |card| %>
  <div id=c<%= card.last_digits%>>
    nome no cartão:  <%= card.name %> <br>
    ultimos 4 digitos:  <%= card.last_digits %> <br>
    data de expiração:  <%= card.expiration_date %>
    <%= link_to 'Remover', user_delete_payment_methods_path(card.token), method: :delete, class: 'btn btn-danger'%>
  </div>
  <hr>
<% end%>