<h5 aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>"
                                class="link-dark">Home</a></li>
    <li class="breadcrumb-item active text-white" aria-current="page">Cursos</li>
  </ol>
</h5>

<h1>Lista de Cursos</h1>
<div>
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col"><%= Course.human_attribute_name(:name) %></th>
        <th scope="col"><%= Course.human_attribute_name(:description) %></th>
      </tr>
      </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr class="text-white">
        <td><%= link_to course.name, course , class: 'btn btn-light' %></td>
        <td><%= course.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
