<h5 aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>"
                                class="link-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="<%= courses_path %>"
                                class="link-dark"><%= Course.model_name.human count: 2 %></a></li>
    <li class="breadcrumb-item active text-secondary" aria-current="page"><%=@course.name %></li>
  </ol>
</h5>

<%= render partial: 'shared/flashes' %>


<h3><%= @course.name %></h3>
<dl>
  <dt><%= Course.human_attribute_name(:description)%></dt>
  <dd><%= @course.description %></dd>
  <% if @course.instructor %>
    <dt><%= Course.human_attribute_name(:instructor)%></dt>
    <dd><%= @course.instructor %></dd>
  <% end %>
  <dt>Capa: </dt>
  <dd>
     <% if @course.cover.attached? %>
        <%= image_tag @course.cover, size:'360x360' %>
      <% else %>
        <%= image_tag 'covers/Logo_verde.jpg', size:'360x360' %>
      <% end %>
  </dd>
  <% if @course.requirements %>
    <dt><%= Course.human_attribute_name(:requirements) %>: </dt>
  <% @course.requirements.each do |requirement| %>
    <dd><%= requirement.name %></dd>
   <% end %>
  <% end %>
</dl>

<hr>

<p class="h5 mb-3 fw-normal text-center"><%= t('label.list', model: Lesson.model_name.human(count: :other)) %></p>
<div>
  <% if((current_user&.own_course? @course) || (current_user&.own_course_subscription? @course) )  %>
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col"><%= Lesson.human_attribute_name(:name) %></th>
          <th scope="col"><%= Lesson.human_attribute_name(:description) %></th>
        </tr>
      </thead>
        <tbody>
          <% @course.lessons.each do |lesson| %>
            <tr class="text">
              <td><%= link_to lesson.name, course_lesson_path(@course, lesson), class:"btn btn-light"  %></td>
              <td><%= lesson.description%></td>
            </tr>
          <% end %>
          <% @course.text_lessons.each do |lesson| %>
            <tr class="text">
              <td><%= link_to lesson.name, course_text_lesson_path(@course, lesson), class:"btn btn-light"  %></td>
              <td><%= lesson.description%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% unless current_user&.own_course? @course %>
      <%= link_to t('buttons.buy'),
        new_course_order_path(@course),
        class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <%= link_to t('buttons.buy'),
      new_course_order_path(@course),
      class: 'btn btn-primary' %>
  <% end %>
</div>
