<div class="position-relative" style="height: 100vh;">
  <div class="position-absolute top-50 start-50 translate-middle" style="width: 280px;">
    <h2><%= t('.forgot_your_password') %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="actions mb-3">
        <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>