<h5 aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= admin_root_path %>"class="link-dark"><%=t('breadcrumb.dashboard_admin')%></a></li>
    <li class="breadcrumb-item active text-secondary" aria-current="page"><%= t('breadcrumb.subscription_managment') %></li>
  </ol>
</h5>

<%= link_to t('buttons.register', model:Subscription.model_name.human), 
            new_admin_subscription_path, class:"btn btn-primary" %>

<hr>
<p class="h5 mb-3 fw-normal text-center"><%= t('label.list', model: Subscription.model_name.human(count: :other)) %></p>

<div>
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col"><%= Subscription.human_attribute_name(:name) %></th>
        <th scope="col"><%= Subscription.human_attribute_name(:description) %></th>
      </tr>
    </thead>
    <tbody>
      <% @subscriptions.each do |subscription| %>
        <tr id="<%= subscription.id %>" class="text">
          <td><%= link_to subscription.name, admin_subscription_path(subscription), class:"btn btn-light" %></td>
          <td><%= subscription.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>