<h5 aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= admin_root_path %>"
                                class="link-dark"><%=t('headers.dashboard')%></a></li>
    <li class="breadcrumb-item"><a href="<%= admin_subscriptions_path %>"
                                class="link-dark"><%=Subscription.model_name.human count: 2 %></a></li>
    <li class="breadcrumb-item active text-secondary" aria-current="page">
    <%=t('buttons.register', model: Subscription.model_name.human) %></li>
  </ol>
</h5>

<%= form_with model: [:admin, @subscription] do |form| %>
  <div class="mx-auto">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"%>
  </div>
  <div class="mx-auto">
    <%= form.label :description, class:"form-label" %>
    <%= form.text_area :description, class:"form-control", rows:"3" %>
  </div>

  <div class="mx-auto">
    <%= form.label :price, class:"form-label" %>
    <%= form.number_field :price, class:"form-control" %>
  </div>
  <div><%= form.submit class:"btn btn-primary" %></div>
<% end %>
