<h3>Cadastrar um novo curso</h3>
<% if @course.errors.any? %>
  <h4>Não foi possível salvar encontramos alguns errors:</h4>
  <ul>
    <% @course.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div>
  <%= form_with model: [:admin, @course], local: true do |f| %>
    <div>
      <%= f.label :name %><span style="color:red">*</span>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :description %><span style="color:red">*</span>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :instructor %>
      <%= f.text_field :instructor %>
    </div>
    <div>
      <%= f.label :cover %>
      <%= f.file_field :cover %>
    </div>
    <div>
      <%= f.submit 'Cadastrar Curso' %>
    </div>
    <% end %>
</div>
<br>
<%= link_to t('buttons.back'), courses_path %>
