<!DOCTYPE html>
<html>
  <head>
    <title>Admin Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
              <p class="fw-normal"><%= current_admin.email %></p>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <%= link_to t('headers.dashboard'), admin_root_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Membros', admin_members_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Sair', destroy_admin_session_path, method: :delete,
                                                                  data: { confirm: 'Deseja sair?' },
                                                                  class: 'nav-link' %>
                </li>
              </ul>
            </div>
          </nav>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">CodePlay</h1>
            </div>
            <%= render partial: 'shared/flashes' %>
              <div>
                <%= yield %>
              </div>
          </main>
        </div>
      </div>
    <% else %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
