<!DOCTYPE html>
<html>
  <head>
    <title>Admin Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <%= link_to t('headers.dashboard'), admin_root_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to t('headers.members'), admin_members_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to t('headers.courses'), admin_courses_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to t('headers.subscriptions'), admin_subscriptions_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to t('headers.token'), admin_company_tokens_path, class:"nav-link" %>
                </li>
              </ul>
            </div>
          </nav>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">CodePlay</h1>
              <div>
                <a class="js-acc-btn" href="#">
                  <%= image_tag("avatar_admin.jpg", size: "40x40") %>
                  <%= current_admin.name %>
                </a>
                <br>
                <div class="float-right">
                  <%= link_to 'Sair', destroy_admin_session_path, method: :delete,
                                                      data: { confirm: 'Deseja sair?' },
                                                      class: 'btn btn-sm btn-primary' %>
                </div>
              </div>
            </div>
            <%= render partial: 'shared/flashes' %>
              <div>
                <%= yield %>
              </div>
          </main>
        </div>
      </div>
    <% end %>
  </body>
</html>
