<!DOCTYPE html>
<html>
  <head>
    <title>Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <% if user_signed_in? %>
    <%= current_user.email %>
    <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
  <% else %>
  <br>
    <%= link_to 'Cadastrar', new_user_registration_path %>
    <%= link_to 'Entrar', new_user_session_path %>
  <% end %>
  </nav>
    <%= render partial: 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
