<!DOCTYPE html>
<html>
  <head>
    <title>Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <br>
  <%= link_to t('.home'), root_path %>
  <% if user_signed_in? %>
    <%= current_user.email %>
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
    <br>
    <%= link_to t('.edit_user'), edit_user_registration_path %>
  <% else %>
    <% if current_page?(new_user_registration_path) == false %>
      <%= link_to t('.signup'), new_user_registration_path %>
    <% end %>
    <% if current_page?(new_user_session_path) == false %>
      <%= link_to t('.signin'), new_user_session_path %>
    <% end %>
  <% end %>
  </nav>
    <%= render partial: 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
