<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <header class="fixed-top">
      <%= render partial: 'shared/header' %>
  </header>

  <div class="site-wrap">
    <body>
      <div class="container">
      <%= yield %>
      </div>
    </body>
  </div>

  <%= render partial: 'shared/footer' %>
  <%= javascript_pack_tag 'home_template/main', 'data-turbolinks-track': 'reload' %>
</html>
