<h2><%= t('.title') %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('.leave_blank_password') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t('.minimun_characters') %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t('.need_current_password') %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

    <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_field :birthdate, autofocus: true, autocomplete: "birthdate" %>
  </div>

  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf" %>
  </div>

  <h3><%= t('.address') %></h3>

  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street, autofocus: true, autocomplete: "street" %>
  </div>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number, autofocus: true, autocomplete: "number" %>
  </div>

  <div class="field">
    <%= f.label :complement %><br />
    <%= f.text_field :complement, autofocus: true, autocomplete: "complement" %>
  </div>

  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode, autofocus: true, autocomplete: "zipcode" %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true, autocomplete: "city" %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autofocus: true, autocomplete: "state" %>
  </div>

  <div class="actions">
    <%= f.submit t('.update_button') %>
  </div>
<% end %>

<h3><%= t('.cancel_my_account') %></h3>

<p><%= t('.unhappy') %><%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.cancel_confirmation') }, method: :delete %></p>

<%= link_to t('.back'), :back %>
